# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env/

# Ignore output files
output/
videos/

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

venv/
__pycache__/
*.mp4
output/
*.csv
*.pt


